*{margin: 0;padding: 0;}
.upLoad{
  position: relative;
}
.allbtn{
  padding: 20px;
  display: flex;
}
.show-btn{
  margin-right: 10px;
  padding: 10px;
  background-color: #5caae6;
  cursor: pointer;
}
.photos-btn{
  padding: 10px;
  background-color: #5caae6;
  cursor: pointer;
}
.upWin{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
  width: 1200px;
  min-height: 500px;
  height: 700px;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0 0 5px #535658;
}
h1{
  padding: 10px;
  text-align: center;
  color: #666;
  font-size: 16px;
  background-color: #F3F3F3;
}
h1 .off-btn{
  float: right;
  font-size: 20px;
  cursor: pointer;
}
.title{
  padding:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  color: #666;
  background-color: #fff
}
.title .boxname{
  width: 550px;
  height: 30px;
}
.title .boxname input{
  width: 80%;
  height: 100%;
  outline: none;
  border: 1px solid #eee;
  text-indent: 20px;
}
.title .shuju{
  flex: 1;
}
.title .shuju span{
  margin-right: 20px;
}
.title .btn{
  padding: 10px 20px;
  height: 20px;
  color: #fff;
  background-color: #5caae6;
  border-radius: 5px;
  cursor: pointer;
}
.title .btn:hover{
  background-color: #4798d6;
}
.photobox{
  overflow: hidden;
  padding: 30px 15px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff
}
.photo-item{
  position: relative;
  float: left;
  margin: 0 15px 10px;
  width: 198px;
  height: 198px;
  text-align: center;
  border: 1px solid #e1e1e1;
}
.photo-item:hover .pic-del{
  display: block;
}
.photo-item .pic-del{
  display: none;
  position: absolute;
  bottom: 40px;
  left: 0;
  padding-right: 6px;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, .3);
  box-sizing: border-box;
}
.photo-item .pic-del .del{
  float: right;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}
.photo-item .pic-img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 158px;
}
.photo-item .pic-img img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.photo-item .pic-name{
  padding: 0 5px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #666;
  background-color: #eee;
  box-sizing: border-box;
}
.photo-item-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
  margin: 0 15px 10px;
  width: 198px;
  height: 198px;
  border: 1px dashed #e1e1e1;
  border-radius: 6px;
  font-size: 16px;
  color: #ccc;
}
.photo-item-btn i{
  font-size: 40px;
  margin-bottom: 20px;
}
.photo-item-btn .fileimg{
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 198px;
  opacity: 0;
  cursor: pointer;
}