<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/upImg.css">
    <link rel="stylesheet" href="./css/iconfont/iconfont.css">
    <title>VUE上传组件</title>
</head>
<body>
    <div id="app"/>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    Vue.prototype.$axios = axios;
    let upImg = {
        template: `
            <div class="upLoad">
                <div class="allbtn">
                    <div class="show-btn" @click="showBox">点击上传</div>
                    <div class="photos-btn" @click="alerts">查看相册</div>
                </div>
                <div class="upWin" v-show="isShow">
                    <h1>{{this.wintitle}}
                        <i class="iconfont icon-guanbi off-btn" @click="hideBox"></i>
                    </h1>
                    <div class="title">
                    <div class="boxname">
                        <span>创建相册：</span>
                        <input type="text" placeholder="输入相册名"  v-model="title" />
                    </div>
                    <div class="shuju">
                        <span>当前张数：{{this.imgList.length}} / {{this.maxNumber}} 张</span>
                        <span>当前大小：{{this.bySize}}</span>
                    </div>
                    <div class="btn" @click="postData">
                        <i class="iconfont icon-ic_image_upload"></i> 点击上传
                    </div>
                    </div>
                    <div 
                        class="photobox"
                        @drop="drop($event)"
                        @dragenter="dragenter($event)"
                        @dragover="dragover($event)"
                    >
                        <div 
                            class="photo-item" 
                            v-show="imgList.length > 0"
                            v-for="(item, index) in imgList"
                            :key="index"
                        >
                            <div class="pic-del">
                                <i class="iconfont icon-shanchu del" @click="delImg(index)"></i>
                            </div>
                            <div class="pic-img">
                                <img :src="item.file.src" alt="">
                            </div>
                            <div class="pic-name">{{item.file.name}}</div>
                        </div>
                        <div class="photo-item-btn">
                            <input
                                type="file"
                                name="upimg"
                                accept="image/*"
                                class="fileimg"
                                ref="updateimg"
                                @change="updateImg($event)"
                            />
                            <i class="iconfont icon-tianjia"></i>
                            <span>点击添加或拖拽图片</span>
                        </div>
                    </div>
                </div>
            </div>
        `,
        data(){
            return {
                //默认状态
                isShow: false,
                //组件标题
                wintitle: '图片上传组件v1.0.1',
                //相册标题
                title: '',
                //上传数量上限
                maxNumber: 9,
                //上传文件列表
                imgList: [],
                //格式过滤列表
                filterList: ["image/gif","image/jpeg","image/png","image/x-icon"],
                //文件总大小
                size: 0 
            }
        },
        methods: {
            showBox(){
                this.isShow = true;
            },
            hideBox(){
                this.isShow = false;
            },
            alerts(){
                alert("这将是一个相册浏览组件！！敬请期待")
            },
            //拖拽三连
            dragenter(el){
                el.stopPropagation();
                el.preventDefault();
            },
            dragover(el){
                el.stopPropagation();
                el.preventDefault();
            },
            drop(el){
                el.stopPropagation();
                el.preventDefault();  
                if(this.imgList.length + el.dataTransfer.files.length > this.maxNumber){      
                    alert("已经超出张数！！！")
                    return;
                }else{                
                    this.filesList(el.dataTransfer.files);
                }      
            },
            //遍历图片列表
            filesList(files){
                [...files].filter((v)=>this.filterList.indexOf(v.type)!==-1).forEach((v)=>this.fileAdd(v))
            },
            //添加到渲染列表
            fileAdd(file){
                this.size += file.size;//总大小
                let reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = ()=>{
                    file.src = reader.result;
                    this.imgList.push({file});
                }
            },
            //单文件上传
            updateImg(el){
                if(!el.target.files[0].size) return;
                if(this.imgList.length >= this.maxNumber){
                    alert("已经超出张数！！！")    
                    return;
                }else{
                    this.filesList(el.target.files);
                }     
            },
            //删除图片
            delImg(index){
                this.size -= this.imgList[index].file.size;//总大小
                this.imgList.splice(index, 1);
            },
            postData(){
                if(!this.title.trim()){
                    alert("当前标题为空请输入标题！")
                    return;
                }
                if(this.imgList.length < 1){
                    alert("请至少选择一张图片上传")
                    return;
                }
                var formData = new FormData();  
                this.imgList.forEach((value, index) => {
                    formData.append("file" + index, value.file);
                });
                formData.append("length", this.imgList.length);
                formData.append("title", this.title);     
                this.$axios.post("http://127.0.0.1:8000/addAlbum/",formData,{
                    headers:{'Content-Type':'multipart/form-data'}
                }).then(res => {
                    alert(res.data.msg)
                }).catch(rej =>{
                    (rej == "Error: Network Error") && confirm("本示例中的axios上传地址为作者本地测试地址或者您修改后的自定义配置不正确，是否前往github查看文档") && (location.href='https://github.com/nanarino/vue-upImg');
                })
            } 
        },
        computed: {
            //计算大小
            bySize(){
                if (this.size === 0) return '0 B';
                let k = 1024, 
                    sizes = ['B', 'KB', 'MB', 'GB'],
                    i = Math.floor(Math.log(this.size ) / Math.log(k));
                return (this.size  / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];
            }
        }
    }
    let vm = new Vue({
        el: "#app",
        template: `<upImg/>`,
        components: {
            upImg
        }
    })
</script>

</html>